utilswaves==0.4.25
mysqlwaves

fastapi
websockets
gunicorn
sqlalchemy
PyJWT
pydantic
aiohttp
PyYAML
asyncmy
uvicorn
asgi_correlation_id
snowflake-id
langchain-community
numpy
ffmpeg-python
pydub
faiss-cpu
async-lru
pymysql
prometheus_client
xlwt

openai
zhipuai
alibabacloud_dingtalk
